# OS
.DS_Store

# Log file
*.log

# Maven 
target/

# Misc
*.swp
release.properties
pom.xml.releaseBackup
pom.xml.tag

# Compiled class file
*.class

# Eclipse project file
.settings/
.classpath
.project

# BlueJ files
*.ctxt

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea/

# NetBeans files
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.7z
*.dmg
*.gz
*.rar
*.tar
*.tar.gz
*.zip
*.rar
*.iso
*.jar
*.war
*.nar
*.ear
*.sar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*